H1, H3, H4 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #ede1ee;
    text-align: center;
}
.editor {
    width: 97%;
    height: 68%;
    margin:15px auto;
}
.stage{
    align-content: center;
    align-items: center;
    text-align: center;
    width: 48%;
    top: 130px;
    position:absolute;
    height: 70%;
    background-color: #00AAAA;
}
.left{
    margin-left: 2%;
}

.right{
    margin-right: 2%;
    right: 0;
}

.stage_error{
    /*background-color: #00AAAA;*/
    /*background-color: #7090DC;*/
    background-color: #FF7400;
    background-color: #FF0000;
}